/* Asegura que todo se ajuste dentro del viewport */
* {
    box-sizing: border-box;
}

/* General */
body {
    overflow-x: hidden; /* Oculta cualquier contenido que se desborde horizontalmente */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8; /* Blanco Suave */
    color: #696969; /* Gris Oscuro */
}

/* Encabezado */
header {
    background-color: #2C3E50; /* Azul Marino para contrastar con la imagen */
    padding: 1rem;
    text-align: center;
    color: white;
    position: fixed; /* Fija la cabecera en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Contenedor de la cabecera */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

/* Imagen de logo en la cabecera */
header .logo {
    border-radius: 50%; /* Hace que la imagen sea redonda */
    width: 50px; /* Ajusta el tamaño para que sea sutil pero visible */
    height: 50px; /* Mantiene la proporción de la imagen */
    margin-left: auto; /* Empuja la imagen al lado derecho */
}

main {
    padding-top: 70px; /* Añade un relleno superior para que el contenido no quede oculto detrás de la cabecera */
}

/* Navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Secciones */
section {
    padding: 2rem;
    text-align: center;
    background-color: #F8F8F8; /* Blanco Suave */
}

#products .product {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Sección de productos */
#products .product {
    background-color: #D3D3D3; /* Gris Claro */
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botones */
button {
    background-color: #FF7F50; /* Coral */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF6347; /* Un tono más oscuro de Coral para hover */
}

/* Encabezados */
h1, h2, h3 {
    color: #2C3E50; /* Azul Marino */
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* Footer */
footer {
    background-color: #2C3E50; /* Azul Marino */
    color: white;
    text-align: center;
    padding: 1rem;
    position: static; /* El footer ya no es fijo */
    width: 100%;
    bottom: 0;
}

/* Estilos de imagen general */
img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1rem auto;
}
